
*{
 font-family: 'Source Sans Pro', sans-serif;  
  background-color: #F2F3F4;
}

.form{
  text-align: center;
  
}

.title{
  color: #2c3e50;
  font-size: 1.5rem;
  font-weight: 550;
  padding: 1em 1em;
  

}

.input label{
  margin:10px 10px;
  color: #3498db;
}

.input input{
  display: block;
  margin: 0 auto;
  border: 1px solid #95A5A6;
  border-radius: 5px;
  width:25em;
  height: 2.5em;
  background-color: #FDFEFE;
  
}

button{
  margin-top: 2em;
  cursor: pointer;
  width: 15em;
  height: 2em;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #bdc3c7;
}

button:hover{
  color: #3498db;
  border: 1px solid #95A5A6;
}






